@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap");
$color-palette-1: #9fa26e;
$color-palette-2: #dad7b4;
$color-palette-3: #c8a086;
$color-palette-4: #efb98f;
$color-palette-5: #d3896d;
$text-color: #414141;

@mixin cardStyle() {
  position: absolute;
  overflow: hidden;
  background-color: #ffffff95;
  border: 2px dashed #ffffff;
  box-shadow: 0 0 0 5px #ffffff95;
  font-size: small;
  border-radius: 1em;
}

@mixin subHeadersResponsive($max-width, $font-size, $margin-top) {
  max-width: $max-width;
  font-size: $font-size;
  margin-top: $margin-top;
}

@mixin cardResponsive(
  $font-size,
  $border-size,
  $box-shadows-1,
  $box-shadows-2
) {
  font-size: $font-size;
  button {
    font-size: $font-size;
    border: $border-size solid $color-palette-2;
    -webkit-box-shadow: $box-shadows-1 $box-shadows-2 0 0 $color-palette-2;
    box-shadow: $box-shadows-1 $box-shadows-2 0 0 $color-palette-2;
  }
}
@mixin guideResponsive($width, $font-size, $column-grid, $img-size) {
  width: $width;
  font-size: $font-size;
  transform: translateX(-($width + 25px));
  .item-list {
    grid-template-columns: repeat(3, $column-grid);
    img {
      width: $img-size;
      height: $img-size;
    }
  }
}
html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  color: $text-color;
  font-size: 15px;
  letter-spacing: 2px;
  overscroll-behavior: none;
  font-family: "Chakra Petch", sans-serif;
  @media only screen and (max-width: 900px) {
    font-weight: 500;
    letter-spacing: 1px;
  }
  @media only screen and (min-width: 900px) {
    font-weight: 600;
  }
}
canvas {
  width: 100%;
  height: 100%;
}
::selection {
  background: $color-palette-2;
  color: white;
}
::-webkit-scrollbar {
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $color-palette-5;
  border-radius: 10px;
}

.Overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  color: white;
  @media only screen and (max-width: 900px) {
    font-size: 0.5em;
    margin: 3px 7px;
  }
  @media only screen and (min-width: 900px) {
    font-size: 0.8em;
    margin: 7px 10px;
  }
}

#card {
  @include cardStyle();
  top: 50%;
  right: 0;
  width: 30%;
  height: fit-content;
  line-height: 1.7em;
  padding: 0.9em 0.1em 0.1em 1em;
  button {
    color: $color-palette-1;
    position: relative;
    background-color: white;
    border-radius: 2em;
    padding: 0.5em 1.5em;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-family: "Chakra Petch", sans-serif;
    @media only screen and (max-width: 900px) {
      letter-spacing: 1px;
      font-weight: 500;
    }
    @media only screen and (min-width: 900px) {
      letter-spacing: 2px;
      font-weight: 600;
    }
    -webkit-transform: translateY(-4px) translateX(-2px);
    transform: translateY(-4px) translateX(-2px);
    &:active {
      -webkit-transform: translateY(2px) translateX(1px);
      transform: translateY(2px) translateX(1px);
      -webkit-box-shadow: 0 0 0 0 $color-palette-2;
      box-shadow: 0 0 0 0 $color-palette-2;
    }
  }
  p {
    margin-top: 0;
  }
  @media only screen and (max-width: 900px) {
    @include cardResponsive(0.5em, 0px, 0.1px, 0.6px);
  }
  @media only screen and (min-width: 900px) {
    @include cardResponsive(0.7em, 1px, 0.3px, 1px);
  }
  @media only screen and (min-width: 1200px) {
    @include cardResponsive(1em, 1px, 1px, 4px);
  }
}
.subheaders {
  background-color: rgba(255, 255, 255, 0.645);
  width: max-content;
  line-height: 2em;
  padding: 0.5em 1em 0.5em 1em;
  @include cardStyle();
  @media only screen and (max-width: 900px) {
    @include subHeadersResponsive(120px, 0.5em, 13vh);
  }
  @media only screen and (min-width: 900px) {
    @include subHeadersResponsive(150px, 0.7em, 15vh);
  }
  @media only screen and (min-width: 1200px) {
    @include subHeadersResponsive(300px, 1em, 0);
  }
}

.fade-in {
  -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.fade-out {
  -webkit-animation: slide-out-left 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-out-left 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.navigation-guide {
  @include cardStyle();
  height: fit-content;
  max-height: 50vh;
  left: 0;
  top: 16vh;
  transition: transform 0.35s ease-out;
  z-index: 1;
  cursor: pointer;
  padding: 1em;
  border-radius: 0 5% 5% 0;
  line-height: 2em;
  border-left: 0;
  .item-list {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, auto);
  }
  @media only screen and (max-width: 900px) {
    @include guideResponsive(120px, 0.5em, 40px, 30px);
  }
  @media only screen and (min-width: 900px) {
    @include guideResponsive(190px, 0.8em, 60px, 50px);
  }
  @media only screen and (min-width: 1200px) {
    @include guideResponsive(200px, 1em, 70px, 60px);
  }
}
.is-active {
  transform: translateX(-3px);
}

.toggle-button {
  position: absolute;
  top: 15vh;
  z-index: 2;
  transform: translateX(2px);
  transition: transform 0.35s ease-out;
  padding: 0.5em;
  background-color: #ffffffea;
  border-radius: 50%;
  cursor: pointer;
  @media only screen and (max-width: 900px) {
    width: 25px;
    height: 25px;
    img {
      width: 25px;
      height: 25px;
    }
  }
  @media only screen and (min-width: 900px) {
    width: 30px;
    height: 30px;
    img {
      width: 30px;
      height: 30px;
    }
  }
  @media only screen and (min-width: 1200px) {
    width: 35px;
    height: 35px;
    img {
      width: 35px;
      height: 35px;
    }
  }
}
.toggle-active {
  @media only screen and (max-width: 900px) {
    transform: translateX(145px);
  }
  @media only screen and (min-width: 900px) {
    transform: translateX(210px);
  }
  @media only screen and (min-width: 1200px) {
    transform: translateX(220px);
  }
}

// background color
.background {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  display: grid;
  margin: 30px;
  place-items: center;
  @media only screen and (max-width: 900px) {
    margin: 20px;
  }
  .main {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    position: absolute;
    border: white 2px solid;
    border-radius: 4px;
    @media only screen and (max-width: 900px) {
      width: 15px;
      height: 15px;
    }
  }
  #bg1 {
    background: linear-gradient(
      180deg,
      hsl(216deg 27% 61%) 0%,
      hsl(208deg 33% 62%) 21%,
      hsl(201deg 38% 63%) 30%,
      hsl(195deg 41% 65%) 39%,
      hsl(189deg 41% 66%) 46%,
      hsl(182deg 39% 67%) 54%,
      hsl(174deg 41% 71%) 61%,
      hsl(163deg 44% 75%) 69%,
      hsl(149deg 47% 80%) 79%,
      hsl(128deg 49% 85%) 100%
    );
    transform: translateX(-80px) rotate(-45deg);
    &:hover {
      transform: translateX(-90px) rotate(-20deg);
    }
  }

  #bg2 {
    background: linear-gradient(
      180deg,
      hsl(86deg 41% 71%) 0%,
      hsl(75deg 40% 71%) 21%,
      hsl(66deg 38% 71%) 30%,
      hsl(57deg 39% 73%) 39%,
      hsl(49deg 44% 75%) 46%,
      hsl(43deg 48% 77%) 54%,
      hsl(38deg 52% 79%) 61%,
      hsl(34deg 54% 80%) 69%,
      hsl(30deg 54% 82%) 79%,
      hsl(26deg 52% 84%) 100%
    );
    transform: translateX(-60px) rotate(-45deg);
    &:hover {
      transform: translateX(-70px) rotate(-20deg);
    }
  }
  #bg3 {
    background: linear-gradient(
      180deg,
      #7289ac 0%,
      hsl(234deg 21% 62%) 9%,
      hsl(263deg 19% 65%) 22%,
      hsl(296deg 17% 67%) 40%,
      hsl(325deg 25% 71%) 58%,
      hsl(342deg 35% 76%) 72%,
      hsl(356deg 44% 81%) 82%,
      hsl(9deg 55% 83%) 90%,
      hsl(18deg 65% 85%) 96%,
      #f6dbc6 100%
    );
    transform: translateX(-40px) rotate(-45deg);
    &:hover {
      transform: translateX(-50px) rotate(-20deg);
    }
  }
  #bg4 {
    background: linear-gradient(
      180deg,
      #62799d 0%,
      hsl(218deg 23% 56%) 24%,
      hsl(219deg 23% 61%) 38%,
      hsl(219deg 23% 67%) 49%,
      hsl(220deg 23% 72%) 59%,
      hsl(220deg 23% 77%) 68%,
      hsl(221deg 23% 83%) 76%,
      hsl(221deg 23% 89%) 85%,
      hsl(221deg 23% 94%) 92%,
      hsl(0deg 0% 100%) 100%
    );
    transform: translateX(-20px) rotate(-45deg);
    &:hover {
      transform: translateX(-30px) rotate(-20deg);
    }
  }
  #bg5 {
    background: linear-gradient(
      180deg,
      hsl(81deg 27% 55%) 0%,
      hsl(81deg 27% 60%) 11%,
      hsl(80deg 27% 65%) 22%,
      hsl(80deg 27% 70%) 33%,
      hsl(80deg 27% 74%) 44%,
      hsl(79deg 27% 79%) 56%,
      hsl(79deg 28% 85%) 67%,
      hsl(79deg 28% 90%) 78%,
      hsl(78deg 28% 95%) 89%,
      hsl(0deg 0% 100%) 100%
    );
    transform: rotate(-45deg);
    &:hover {
      transform: translate(-10px) rotate(-20deg);
    }
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(40px);
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    -webkit-transform: translateX(-5px);
    opacity: 1;
    transform: translateX(-5px);
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(40px);
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    -webkit-transform: translateX(-5px);
    opacity: 1;
    transform: translateX(-5px);
  }
}

@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(40px);
    opacity: 0;
    transform: translateX(40px);
  }
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(-5px);
    opacity: 1;
    transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(40px);
    opacity: 0;
    transform: translateX(40px);
  }
}

#carousel {
  position: absolute;
  z-index: 1;
  bottom: 0;
  font-size: 2rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: -1.3rem;
  @media only screen and (max-width: 900px) {
    margin-bottom: -2rem;
  }
  svg {
    width: 3rem;
    transition: 0.3s ease;
    -webkit-box-reflect: below -3.3rem linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
    @media only screen and (max-width: 900px) {
      width: 2rem;
      -webkit-box-reflect: below -4.3rem linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
    }
  }
  svg:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  #kitchen {
    -webkit-box-reflect: below -4.2rem linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
    @media only screen and (max-width: 900px) {
      -webkit-box-reflect: below -4.9rem linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
    }
  }
  #office {
    -webkit-box-reflect: below -3.8rem linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
    @media only screen and (max-width: 900px) {
      -webkit-box-reflect: below -4.6rem linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
    }
  }
  #home,
  #globe {
    -webkit-box-reflect: below -3.6rem linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
    @media only screen and (max-width: 900px) {
      -webkit-box-reflect: below -4.4rem linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
    }
  }
}
