@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap");
$color-palette-1: #9fa26e;
$color-palette-2: #dad7b4;
$color-palette-3: #c8a086;
$color-palette-4: #efb98f;
$color-palette-5: #d3896d;
$text-color: #53553c;

@mixin cardStyle() {
  position: absolute;
  overflow: hidden;
  background-color: #ffffffb5;
  border: 2px dashed #ffffff;
  box-shadow: 0 0 0 5px #ffffff95;
  font-size: small;
  border-radius: 1em;
}

@mixin subHeadersResponsive($max-width, $font-size, $margin-top, $line-height) {
  max-width: $max-width;
  font-size: $font-size;
  margin-top: $margin-top;
  line-height: $line-height;
}

@mixin cardResponsive(
  $font-size,
  $border-size,
  $box-shadows-1,
  $box-shadows-2
) {
  font-size: $font-size;
  font-weight: 500;
  button {
    font-size: $font-size;
    border: $border-size solid $color-palette-2;
    -webkit-box-shadow: $box-shadows-1 $box-shadows-2 0 0 $color-palette-2;
    box-shadow: $box-shadows-1 $box-shadows-2 0 0 $color-palette-2;
  }
}

html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  color: $text-color;
  font-size: 15px;
  letter-spacing: 2px;
  overscroll-behavior: none;
  font-family: "Chakra Petch", sans-serif;
  @media only screen and (max-width: 768px) {
    font-weight: 500;
    letter-spacing: 1px;
  }
  @media only screen and (min-width: 768px) {
    font-weight: 600;
  }
}
canvas {
  width: 100%;
  height: 100%;
}
::selection {
  background: $color-palette-2;
  color: white;
}
::-webkit-scrollbar {
  height: 5px;
  width: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}

.Overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  color: white;
  @media only screen and (max-width: 768px) {
    font-size: 0.5em;
    margin: 3px 7px;
  }
  @media only screen and (min-width: 768px) {
    font-size: 0.8em;
    margin: 7px 10px;
  }
}

#card {
  @include cardStyle();
  top: 50%;
  right: 0;
  width: 30%;
  height: fit-content;
  line-height: 1.7em;
  padding: 0.9em 0.1em 0.1em 1em;
  button {
    color: $color-palette-1;
    position: relative;
    background-color: white;
    border-radius: 2em;
    padding: 0.5em 1.5em;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-family: "Chakra Petch", sans-serif;
    @media only screen and (max-width: 768px) {
      letter-spacing: 1px;
      font-weight: 500;
    }
    @media only screen and (min-width: 768px) {
      letter-spacing: 2px;
      font-weight: 600;
    }
    -webkit-transform: translateY(-4px) translateX(-2px);
    transform: translateY(-4px) translateX(-2px);
    &:active {
      -webkit-transform: translateY(2px) translateX(1px);
      transform: translateY(2px) translateX(1px);
      -webkit-box-shadow: 0 0 0 0 $color-palette-2;
      box-shadow: 0 0 0 0 $color-palette-2;
    }
  }
  p {
    margin-top: 0;
  }
  @media only screen and (max-width: 768px) {
    @include cardResponsive(0.5em, 0px, 0.1px, 0.6px);
  }
  @media only screen and (min-width: 768px) {
    @include cardResponsive(0.7em, 1px, 0.3px, 1px);
  }
  @media only screen and (min-width: 1200px) {
    @include cardResponsive(1em, 1px, 1px, 4px);
  }
}
.subheaders {
  width: max-content;
  font-weight: 500;
  padding: 0.5em 1em 0.5em 1em;
  @include cardStyle();
  background-color: rgba(255, 255, 255, 0.701);
  @media only screen and (max-width: 768px) {
    @include subHeadersResponsive(120px, 0.5em, 13vh, 0.8rem);
  }
  @media only screen and (min-width: 768px) {
    @include subHeadersResponsive(150px, 0.7em, 15vh, 1.2rem);
  }
  @media only screen and (min-width: 1200px) {
    @include subHeadersResponsive(300px, 1em, 0, 1.5rem);
  }
}
.subheaders-project {
  width: max-content;
  font-weight: 500;
  padding: 0.5em 1em 0.5em 1em;
  @include cardStyle();
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.701);
  @media only screen and (max-width: 768px) {
    @include subHeadersResponsive(200px, 0.5em, 13vh, 0.8rem);
  }
  @media only screen and (min-width: 768px) {
    @include subHeadersResponsive(300px, 0.7em, 15vh, 1.2rem);
  }
  @media only screen and (min-width: 1200px) {
    @include subHeadersResponsive(400px, 1em, 0, 1.5rem);
  }
}

.fade-in {
  -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.fade-out {
  -webkit-animation: slide-out-left 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-out-left 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
#toggle-btn {
  position: absolute;
  z-index: 2;
  transform: translateX(60px);
  top: 2vh;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffffc5;
}
#item-list {
  position: absolute;
  pointer-events: none;
  top: 1vh;
  left: 0;
  z-index: 1;
  display: flex;
  flex-flow: row wrap;
  width: min-content;
  max-width: 60vw;
  height: fit-content;
  max-height: 90vh;
  overflow-y: scroll;
  background-color: #ffffffc5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-left: 0;
  border: 2px solid white;
  border-radius: 0 10px 10px 0;
  padding: 5px;
  .item {
    background-color: #cacaca55;
    margin: 2px;
    border-radius: 50%;
    box-shadow: inset 5px 5px 10px #c1c1c177, inset -5px -5px 10px #ffffff7e;
    @media only screen and (max-width: 768px) {
      width: 35px;
      height: 35px;
    }
    @media only screen and (min-width: 768px) {
      width: 50px;
      height: 50px;
    }
  }
  img {
    margin: 5px;
    @media only screen and (max-width: 768px) {
      width: 20px;
      height: 20px;
    }
    @media only screen and (min-width: 768px) {
      width: 35px;
      height: 35px;
    }
  }
}

.toggle-button {
  position: absolute;
  z-index: 2;
  transform: translateX(2px);
  transition: transform 0.35s ease-out;
  padding: 0.5em;
  background-color: #ffffffea;
  border-radius: 50%;
  cursor: pointer;
  @media only screen and (max-width: 768px) {
    width: 25px;
    height: 25px;
    img {
      width: 25px;
      height: 25px;
    }
  }
  @media only screen and (min-width: 768px) {
    width: 30px;
    height: 30px;
    img {
      width: 30px;
      height: 30px;
    }
  }
  @media only screen and (min-width: 1200px) {
    width: 35px;
    height: 35px;
    img {
      width: 35px;
      height: 35px;
    }
  }
}
.toggle-active {
  @media only screen and (max-width: 768px) {
    transform: translateX(145px);
  }
  @media only screen and (min-width: 768px) {
    transform: translateX(210px);
  }
  @media only screen and (min-width: 1200px) {
    transform: translateX(220px);
  }
}

// background color
#background {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  margin: 5px;
  height: 50px;
  width: 140px;
  border-radius: 10px;

  .main {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    position: absolute;
    border: white 2px solid;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: -65px;
    @media only screen and (max-width: 768px) {
      width: 15px;
      height: 15px;
    }
  }
  #bg1 {
    background: linear-gradient(
      180deg,
      hsl(216deg 27% 61%) 0%,
      hsl(208deg 33% 62%) 21%,
      hsl(201deg 38% 63%) 30%,
      hsl(195deg 41% 65%) 39%,
      hsl(189deg 41% 66%) 46%,
      hsl(182deg 39% 67%) 54%,
      hsl(174deg 41% 71%) 61%,
      hsl(163deg 44% 75%) 69%,
      hsl(149deg 47% 80%) 79%,
      hsl(128deg 49% 85%) 100%
    );
    transform: translateX(85px) rotate(-45deg);
    &:hover {
      transform: translateX(75px) rotate(-20deg);
    }
  }

  #bg2 {
    background: linear-gradient(
      180deg,
      hsl(86deg 41% 71%) 0%,
      hsl(75deg 40% 71%) 21%,
      hsl(66deg 38% 71%) 30%,
      hsl(57deg 39% 73%) 39%,
      hsl(49deg 44% 75%) 46%,
      hsl(43deg 48% 77%) 54%,
      hsl(38deg 52% 79%) 61%,
      hsl(34deg 54% 80%) 69%,
      hsl(30deg 54% 82%) 79%,
      hsl(26deg 52% 84%) 100%
    );
    transform: translateX(105px) rotate(-45deg);
    &:hover {
      transform: translateX(95px) rotate(-20deg);
    }
  }
  #bg3 {
    background: linear-gradient(
      180deg,
      #7289ac 0%,
      hsl(234deg 21% 62%) 9%,
      hsl(263deg 19% 65%) 22%,
      hsl(296deg 17% 67%) 40%,
      hsl(325deg 25% 71%) 58%,
      hsl(342deg 35% 76%) 72%,
      hsl(356deg 44% 81%) 82%,
      hsl(9deg 55% 83%) 90%,
      hsl(18deg 65% 85%) 96%,
      #f6dbc6 100%
    );
    transform: translateX(125px) rotate(-45deg);
    &:hover {
      transform: translateX(115px) rotate(-20deg);
    }
  }
  #bg4 {
    background: linear-gradient(
      180deg,
      #62799d 0%,
      hsl(218deg 23% 56%) 24%,
      hsl(219deg 23% 61%) 38%,
      hsl(219deg 23% 67%) 49%,
      hsl(220deg 23% 72%) 59%,
      hsl(220deg 23% 77%) 68%,
      hsl(221deg 23% 83%) 76%,
      hsl(221deg 23% 89%) 85%,
      hsl(221deg 23% 94%) 92%,
      hsl(0deg 0% 100%) 100%
    );
    transform: translateX(145px) rotate(-45deg);
    &:hover {
      transform: translateX(135px) rotate(-20deg);
    }
  }
  #bg5 {
    background: linear-gradient(
      180deg,
      hsl(81deg 27% 55%) 0%,
      hsl(81deg 27% 60%) 11%,
      hsl(80deg 27% 65%) 22%,
      hsl(80deg 27% 70%) 33%,
      hsl(80deg 27% 74%) 44%,
      hsl(79deg 27% 79%) 56%,
      hsl(79deg 28% 85%) 67%,
      hsl(79deg 28% 90%) 78%,
      hsl(78deg 28% 95%) 89%,
      hsl(0deg 0% 100%) 100%
    );
    transform: translate(165px) rotate(-45deg);
    &:hover {
      transform: translate(155px) rotate(-20deg);
    }
  }
  pointer-events: none;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(40px);
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    -webkit-transform: translateX(-5px);
    opacity: 1;
    transform: translateX(-5px);
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(40px);
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    -webkit-transform: translateX(-5px);
    opacity: 1;
    transform: translateX(-5px);
  }
}

@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(40px);
    opacity: 0;
    transform: translateX(40px);
  }
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(-5px);
    opacity: 1;
    transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(40px);
    opacity: 0;
    transform: translateX(40px);
  }
}

#carousel {
  position: absolute;
  z-index: 2;
  border-radius: 10px 10px 0 0;
  bottom: 0;
  font-size: 2rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: -1.3rem;
  @media only screen and (max-width: 768px) {
    margin-bottom: -2rem;
  }
  svg {
    width: 3rem;
    transition: 0.3s ease;
    -webkit-box-reflect: below -3.3rem linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
    @media only screen and (max-width: 768px) {
      width: 2rem;
      -webkit-box-reflect: below -4.3rem linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
    }
  }
  svg:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  #kitchen {
    -webkit-box-reflect: below -4.2rem linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
    @media only screen and (max-width: 768px) {
      -webkit-box-reflect: below -4.9rem linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
    }
  }
  #office {
    -webkit-box-reflect: below -3.8rem linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
    @media only screen and (max-width: 768px) {
      -webkit-box-reflect: below -4.6rem linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
    }
  }
  #home,
  #globe {
    -webkit-box-reflect: below -3.6rem linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
    @media only screen and (max-width: 768px) {
      -webkit-box-reflect: below -4.4rem linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
    }
  }
  pointer-events: none;
}
#leaf {
  z-index: 3;
  position: absolute;
  margin-top: -30px;
  transform: rotate(-20deg);
  width: 40px;
  height: 40px;
}
#flower-1 {
  z-index: 3;
  position: absolute;
  margin-top: -15px;
  margin-left: -180px;
  width: 35px;
  height: 35px;
}
#flower-2 {
  z-index: 3;
  position: absolute;
  margin-right: -200px;
  margin-top: -20px;
  width: 40px;
  height: 40px;
}
#flower-3 {
  z-index: 3;
  position: absolute;
  margin-right: -230px;
  margin-top: 30px;
  width: 45px;
  height: 45px;
  transform: rotate(30deg);
}
#flower-4 {
  z-index: 3;
  position: absolute;
  margin-left: -230px;
  margin-top: 30px;
  width: 35px;
  height: 35px;
  transform: rotate(-20deg);
}
#welcome {
  z-index: 4;
  position: absolute;
  top: 30vh;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: 0.7s ease-in-out;
  animation: slide-in 2s ease-out;
  height: fit-content;
  min-height: 35vh;
  > div {
    background-color: #c3c3c3b3;
    border: 2px dashed #ffffff;
    box-shadow: 0 0 0 5px #c3c3c3b3;
    border-radius: 2em;
    color: rgb(255, 255, 255);
    width: 200px;
    padding: 10px;
    display: flex;
    flex-flow: column;
  }
  p {
    height: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #btn {
    width: 100%;
    display: flex;
    justify-content: space-around;
    button {
      cursor: pointer;
      color: white;
      background-color: rgba(255, 255, 255, 0);
      border: none;
      font-size: 1.8rem;
      display: flex;
      width: 70px;
      justify-content: space-between;
      &:nth-child(1) {
        > div:nth-child(1) {
          animation: opacity-animation 1.3s infinite 0.6s;
        }
        > div:nth-child(2) {
          animation: opacity-animation 1.3s infinite 0.4s;
        }
        > div:nth-child(3) {
          animation: opacity-animation 1.3s infinite 0.2s;
        }
      }
      &:nth-child(2) {
        > div:nth-child(1) {
          animation: opacity-animation 1.3s infinite 0.2s;
        }
        > div:nth-child(2) {
          animation: opacity-animation 1.3s infinite 0.4s;
        }
        > div:nth-child(3) {
          animation: opacity-animation 1.3s infinite 0.6s;
        }
      }
    }
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    top: 0;
  }
  100% {
    opacity: 1;
    top: 30vh;
  }
}
@keyframes opacity-animation {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

#dim-container {
  box-shadow: 0 0 0 100vmax rgba(44, 44, 44, 0.742);
  z-index: 4;
  width: 0;
  height: 0;
  top: 2vh;
  left: 0;
  position: absolute;
  border-radius: 5px;
  transition: 0.4s ease;
}

#project-board-container {
  position: absolute;
  z-index: 1;
  left: 210vw;
  height: 100vh;
  display: flex;
}
#project-board-inner {
  margin: auto;
  display: grid;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  grid-template-columns: repeat(8, 11vw);
  grid-template-rows: repeat(4, 11vw);
  grid-template-areas:
    "project-board project-board project-board empty1 window empty2 book book"
    "empty3 transition empty4 weather weather coffee-shop empty5 book-lover"
    "car car office empty6 window-view sweet-city sweet-city book-flipping"
    "workaholic empty8 sunset mars empty7 empty7 strawberry to-be-continued";
  & > div {
    border: 1px solid rgb(255, 255, 255);
  }
  img {
    width: 100%;
    height: 100%;
  }
}

a {
  text-decoration: none;
  color: black;
}
#project-board {
  grid-area: project-board;
  background-color: rgba(245, 238, 225, 0.3);
  display: flex;
  flex-direction: column;
  font-size: 2.7vw;
  color: #ffffff;
  font-family: "Bruno Ace", cursive;
  line-height: 0;
  padding: 10px 10px;
  span {
    align-self: flex-end;
    margin-right: 20px;
  }
  @media only screen and (max-width: 768px) {
    font-size: 2vw;
  }
}

#to-be-continued {
  grid-area: to-be-continued;
  background-color: rgba(245, 238, 225, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  color: #ffffff;
  font-family: "Bruno Ace", cursive;
  line-height: 0;
}
.description-subtitle {
  font-size: 0.8vw;
  text-align: center;
  font-weight: 400;
}
.description {
  position: absolute;
  z-index: 3;
  transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 4px;
  height: 70%;
  align-items: center;
  text-align: center;
  background-color: #ffffffdf;
  border-radius: 16px 16px 0 0;
  width: 94%;
  height: 100%;
  transform: translateY(100%);
  color: #6c6b6b;
  & > p:nth-child(1) {
    font-family: "Bruno Ace", cursive;
    font-weight: 400;
    font-size: 0.8vw;
    @media only screen and (max-width: 768px) {
      line-height: 0;
    }
  }
}
.proj-showcase {
  position: relative;
  overflow: hidden;
  & > a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    & > img {
      width: 100%;
      height: 100%;
    }
  }
  &:hover > a > div {
    transform: translateY(10%);
  }
}
#strawberry {
  grid-area: strawberry;
}
#book {
  grid-area: book;
}
#mars {
  grid-area: mars;
}
#weather {
  grid-area: weather;
}
#car {
  grid-area: car;
}
#office {
  grid-area: office;
}
#sweet-city {
  grid-area: sweet-city;
}
#workaholic {
  grid-area: workaholic;
}
#transition {
  grid-area: transition;
}
#window-view {
  grid-area: window-view;
}
#window {
  grid-area: window;
}
#sunset {
  grid-area: sunset;
}

#coffee-shop {
  grid-area: coffee-shop;
}
#book-lover {
  grid-area: book-lover;
}
#book-flipping {
  grid-area: book-flipping;
}
#empty1 {
  grid-area: empty1;
  background-color: rgba(245, 238, 225, 0.3);
}
#empty2 {
  grid-area: empty2;
  background-color: rgba(245, 238, 225, 0.3);
}
#empty3 {
  grid-area: empty3;
  background-color: rgba(245, 238, 225, 0.3);
}
#empty4 {
  grid-area: empty4;
  background-color: rgba(245, 238, 225, 0.3);
}
#empty5 {
  grid-area: empty5;
  background-color: rgba(245, 238, 225, 0.3);
  div {
    width: 100%;
    display: flex;
    height: 50%;
    justify-content: center;
    align-items: center;
    svg {
      width: 5vw;
    }
  }
}
#empty6 {
  grid-area: empty6;
  background-color: rgba(245, 238, 225, 0.3);
}
#empty7 {
  grid-area: empty7;
  background-color: rgba(245, 238, 225, 0.3);
}
#empty8 {
  grid-area: empty8;
  background-color: rgba(245, 238, 225, 0.3);
}

.day-num {
  text-align: end;
  color: white;
  font-family: "Bruno Ace", cursive;
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 0;
}

#hello-world {
  text-align: center;
  color: white;
  font-family: "Bruno Ace", cursive;
  font-size: 0.8vw;
  font-weight: 350;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;

  span {
    font-size: 1vw;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
}
@keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

#clock {
  width: 6vw;
  height: 6vw;
  border: 0.3vw solid white;
  position: relative;
  left: 2.5vw;
  #min,
  #hour {
    display: block;
    background: white;
    width: 0.2vw;
    height: 2vw;
    border-radius: 50px;
    position: absolute;
    top: 1.2vw;
    left: 2.9vw;
    animation: tick-tock 3600s steps(60, end) infinite;
    transform-origin: bottom center;
  }
  #min {
    height: 2.8vw;
    top: 0.4vw;
    animation: tick-tock 60s steps(60, end) infinite;
  }
}

@keyframes tick-tock {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#palette-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #6c6b6b;
  justify-self: center;
  align-self: center;
  background: #ffffff;
  font-size: 0.8vw;
  #palette-inner {
    display: flex;
    height: 80%;
    width: 100%;
  }
  #palette-footer {
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: center;
    font-weight: 300;
    align-items: center;
    font-family: "Bruno Ace", cursive;
  }

  .color {
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: flex 0.1s linear;
    span {
      opacity: 0;
      transition: opacity 0.1s linear;
    }
    &:nth-child(1) {
      background: #ccd5ae;
    }

    &:nth-child(2) {
      background: #e9edc9;
    }

    &:nth-child(3) {
      background: #fefae0;
    }

    &:nth-child(4) {
      background: #ffdec0;
    }

    &:nth-child(5) {
      background: #ffc694;
    }
    &:hover {
      flex: 2;
      // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      span {
        opacity: 1;
      }
    }
  }
}

#console-log {
  color: white;
  font-family: "Bruno Ace", cursive;
  font-size: 0.7vw;
  font-weight: 350;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  width: 100%;
  align-items: center;
}
