@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap");

$color-palette-1: #9fa26e;
$color-palette-2: #dad7b4;
$color-palette-3: #c8a086;
$color-palette-4: #efb98f;
$color-palette-5: #d3896d;
$text-color: #5a5959;
@mixin shadow($color) {
  border: 1px solid $color;
  -webkit-box-shadow: 0.1em 0.2em 0 0 $color;
  box-shadow: 0.1em 0.2em 0 0 $color;
}

@mixin cardStyle($bg) {
  position: absolute;
  background-color: $bg;
  overflow: hidden;
}

@mixin subHeadersResponsive($max-width, $font-size, $margin-top) {
  max-width: $max-width;
  font-size: $font-size;
  margin-top: $margin-top;
}

@mixin cardResponsive(
  $font-size,
  $border-size,
  $box-shadows-1,
  $box-shadows-2
) {
  font-size: $font-size;
  button {
    font-size: $font-size;
    border: $border-size solid $color-palette-2;
    -webkit-box-shadow: $box-shadows-1 $box-shadows-2 0 0 $color-palette-2;
    box-shadow: $box-shadows-1 $box-shadows-2 0 0 $color-palette-2;
  }
}
@mixin guideResponsive($width, $font-size, $column-grid, $img-size) {
  width: $width;
  font-size: $font-size;
  transform: translateX(-($width + 11px));
  .item-list {
    grid-template-columns: repeat(3, $column-grid);
    img {
      width: $img-size;
      height: $img-size;
    }
  }
}
html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  background: $color-palette-3;
  color: $text-color;
  font-size: 15px;
  letter-spacing: 1px;
  overscroll-behavior: none;
  font-family: "Work Sans", sans-serif;
}
::selection {
  background: $color-palette-2;
  color: white;
}
::-webkit-scrollbar {
  height: 15px;
}

::-webkit-scrollbar-track {
  background: $color-palette-3;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border: 5px solid $color-palette-3;
}

.Overlay {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  color: rgba(255, 255, 255, 0.781);
  @media only screen and (max-width: 900px) {
    font-size: 0.5em;
    margin: 3px 7px;
  }
  @media only screen and (min-width: 900px) {
    font-size: 0.8em;
    margin: 7px 10px;
  }
}

#card {
  @include cardStyle(#ffffffe7);
  top: 50%;
  right: 0;
  width: 30%;
  height: fit-content;
  line-height: 1.7em;
  padding: 1.2em 0.1em 0.1em 1em;
  border-radius: 2em 0.5em 0.5em 2em;
  @include shadow($color-palette-2);
  button {
    color: $color-palette-1;
    position: relative;
    background-color: white;
    border-radius: 2em;
    padding: 0.5em 1.5em;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-family: "Work Sans", sans-serif;
    -webkit-transform: translateY(-4px) translateX(-2px);
    -ms-transform: translateY(-4px) translateX(-2px);
    transform: translateY(-4px) translateX(-2px);
    &:active {
      -webkit-transform: translateY(2px) translateX(1px);
      -ms-transform: translateY(2px) translateX(1px);
      transform: translateY(2px) translateX(1px);
      -webkit-box-shadow: 0 0 0 0 $color-palette-2;
      box-shadow: 0 0 0 0 $color-palette-2;
    }
  }
  @media only screen and (max-width: 900px) {
    @include cardResponsive(0.6em, 0px, 0.1px, 1px);
  }
  @media only screen and (min-width: 900px) {
    @include cardResponsive(0.8em, 1px, 0.5px, 2px);
  }
  @media only screen and (min-width: 1200px) {
    @include cardResponsive(1.1em, 1px, 1px, 4px);
  }
}
.subheaders {
  background-color: rgba(255, 255, 255, 0.848);
  width: max-content;
  border-radius: 2em;
  line-height: 2em;
  padding: 1em;
  @include shadow($color-palette-2);
  @media only screen and (max-width: 900px) {
    @include subHeadersResponsive(120px, 0.5em, 13vh);
  }
  @media only screen and (min-width: 900px) {
    @include subHeadersResponsive(150px, 0.7em, 15vh);
  }
  @media only screen and (min-width: 1200px) {
    @include subHeadersResponsive(300px, 1em, 0);
  }
}

.fade-in {
  -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.fade-out {
  -webkit-animation: slide-out-left 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-out-left 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.navigation-guide {
  @include cardStyle(#ffffffa1);
  height: fit-content;
  max-height: 50vh;
  left: 0;
  top: 20vh;
  transition: transform 0.35s ease-out;
  z-index: 1;
  cursor: pointer;
  padding: 1em;
  border-radius: 0 5% 5% 0;
  line-height: 2em;
  border-left: 0;
  @include shadow($color-palette-2);
  .item-list {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, auto);
  }
  @media only screen and (max-width: 900px) {
    @include guideResponsive(120px, 0.7em, 40px, 30px);
  }
  @media only screen and (min-width: 900px) {
    @include guideResponsive(190px, 0.8em, 60px, 50px);
  }
  @media only screen and (min-width: 1200px) {
    @include guideResponsive(200px, 0.9em, 70px, 60px);
  }
}
.is-active {
  transform: translateX(0px);
}

.toggle-button {
  position: absolute;
  top: 15vh;
  z-index: 2;
  transform: translateX(5px);
  transition: transform 0.35s ease-out;
  padding: 0.5em;
  background-color: #fffffffa;
  border-radius: 50%;
  cursor: pointer;
  @media only screen and (max-width: 900px) {
    width: 25px;
    height: 25px;
    img {
      width: 25px;
      height: 25px;
    }
  }
  @media only screen and (min-width: 900px) {
    width: 30px;
    height: 30px;
    img {
      width: 30px;
      height: 30px;
    }
  }
  @media only screen and (min-width: 1200px) {
    width: 35px;
    height: 35px;
    img {
      width: 35px;
      height: 35px;
    }
  }
}
.toggle-active {
  @media only screen and (max-width: 900px) {
    transform: translateX(145px);
  }
  @media only screen and (min-width: 900px) {
    transform: translateX(210px);
  }
  @media only screen and (min-width: 1200px) {
    transform: translateX(220px);
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(40px);
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    -webkit-transform: translateX(-5px);
    opacity: 1;
    transform: translateX(-5px);
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(40px);
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    -webkit-transform: translateX(-5px);
    opacity: 1;
    transform: translateX(-5px);
  }
}

@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(40px);
    opacity: 0;
    transform: translateX(40px);
  }
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(-5px);
    opacity: 1;
    transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(40px);
    opacity: 0;
    transform: translateX(40px);
  }
}
